@font-face {
  font-display: swap;
  font-family: "Roboto Regular";
  src: local("Roboto"), local("Roboto Regular"), local("Roboto-Regular"),
    url("../font/roboto/roboto-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Bold";
  src: local("Roboto"), local("Roboto Bold"), local("Roboto-Bold"),
    url("../font/roboto/roboto-bold.ttf") format("truetype");
}
