.app__calculate-btn {
  background-color: #66f;
  border-radius: 0.6em;
  color: #fefefe;
  padding: 1.2em;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: #44f;
  }
}
